
.device-dialog {
  width: 100vh;
  height:50vh;
  background: rgba(0, 0, 0, 0.5);
  border-top: #2980b9 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.dialog-content {
  /* background: #fff; */
  border-radius: 12px;
  padding: 20px;
  width:100%;
  height: 100%;
  position: relative;
}

.dialog-icon {
  height: 60px;
  display: flex;
}

.dialog-icon img {
  width: 30px;
  height: 30px;
}

.dialog-text {
  margin-top: 40px;
  margin-bottom: 20px;
}

 p {
  color: #fff;
  line-height: 1.8;
  font-size: 14px;
}

.dialog-btn {
  background: rgba(255, 255,255, 0.1);
  color: #fff;
  border: none;
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: #2980b9 1px solid;
}

.dialog-btn:hover {
  background: #2980b9;
}