.loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.loading-content {
  text-align: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* color: #fff; */
}

 .loading-spinner {
  width: 500px;
  margin-top: -43%;
}
.loading-text {
  font-size: 28px;
  font-weight: bold;
  margin-top:-180px;
  color: #fff;
   transition: all 0.3s ease-out;
}

.loading-mask-fade-enter-active, .loading-mask-fade-leave-active {
  transition: opacity 0.3s ease;
}
.loading-mask-fade-enter, .loading-mask-fade-leave-to {
  opacity: 0;
}